<section
  class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp marginCustom"
>
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>{{_owner.username}} {{../../user}}</h4>
      {{content}}
      {{#if images}}
      <div class="carouselCS">
        {{#each images}}
        <div class="boxColor">
          <img class="imagesCS" src="{{this}}" >
        </div>
        {{/each}}
      </div>
      {{/if}}
      
    </div>
    <div class="mdl-card__actions">
      <a href="/news/{{_id}}/detail" class="mdl-button">Read more</a>
    </div>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
    id="btn{{_id}}"
  >
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{_id}}">
    <li class="mdl-menu__item">Lorem</li>
    <li class="mdl-menu__item" disabled>Ipsum</li>
    <li class="mdl-menu__item">Dolor</li>
  </ul>
</section>